Repository jeremylongshore/diagnosticpro-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --fix --max-warnings 0, npx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,svelte}": [
    "eslint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{css,scss,postcss,svelte}": [
    "stylelint --fix --max-warnings 0",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "npx sort-package-json"
  ]
}

Add comprehensive Mandy Longshore testing suite - URGENT FIXES NEEDED
  docs/comprehensive-testing-report.md
  tests/mandy-comprehensive-final.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: resolve connectionString scope error in database service
  src/lib/server/database.js
  test-payment-flow.js
Due: eslint --fix --max-warnings 0, prettier --write

Fix ESLint config and bypass lint for workflow testing
  eslint.config.js
Due: eslint --fix --max-warnings 0, prettier --write

📊 PROJECT STATUS: Complete DiagnosticPro MVP assessment - 97% ready for launch
  PROJECT_STATUS_REPORT_2025-08-02.md
Due: prettier --write

✉️ UPDATE: Email template now matches requested format
  src/lib/services/emailService.js
Due: eslint --fix --max-warnings 0, prettier --write

🗑️ REMOVE: Fake account access link from email template
  src/lib/services/emailService.js
Due: eslint --fix --max-warnings 0, prettier --write

🎉 FINAL PROJECT STATUS: DiagnosticPro MVP 99% Complete
  PROJECT_FINAL_STATUS_2025-08-02.md
Due: prettier --write

🔒 SECURITY FIX: Remove exposed Stripe keys and secure secrets
  .env
  .env.example
  .gitignore
Due: none

🔒 SECURITY: Remove exposed SMTP credentials and add gitignore protection
  .gitignore
Due: none

🔧 CRITICAL ISSUES RESOLVED - ALL SYSTEMS OPERATIONAL
  CRITICAL_FIXES_COMPLETE.md
Due: prettier --write
